{# templates/registration/registration.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Registration</h1>

    {{ form_start(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.registrationDate) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
