{# templates/groupeTesteurs/view.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}View Groupe Testeurs{% endblock %}

{% block body %}
    <h1>View Groupe Testeurs</h1>

    <dl>
        <dt>ID:</dt>
        <dd>{{ groupeTesteurs.id }}</dd>

        <dt>Label:</dt>
        <dd>{{ groupeTesteurs.groupTesteurLabel }}</dd>

        <dt>Description:</dt>
        <dd>{{ groupeTesteurs.groupTesteurDescription }}</dd>
    </dl>

    <h2>Enseignants</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.id }}</td>
                    <td>{{ enseignant.firstName }}</td>
                    <td>{{ enseignant.lastName }}</td>
                    <!-- Add more columns as needed -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
